// Grays
$white: #ffffff;
$dark: #231F20;

// Primary colors
$primary-color: #004953;
$primary-color-lighten: #018aa2;
$secondary-color: #345f69;
$danger-color: #a72a2a;
$bg-color: #eff4f5;
$bg-color-light: #f9fbfb;
$border-color: #9db9be;
$info-text: #49666c;
$icon-color: #98afb3;
